{%extends 'testapp/base.html'%}
{% block body_block%}
<div class="container">
  <div class="jumbotron">
    <h1>welcome to DurgaExam</h1>
    <h2>Rules:-</h2>
      <ul>
        <li>Rules-1:You should write one exam perday</li>
        <li>Rules-1:You should write one exam perday</li>
        <li>Rules-1:You should write one exam perday</li>
        <li>Rules-1:You should write one exam perday</li>
        <li>Rules-1:You should write one exam perday</li>
      </ul>
    </div>
</div>
{%endblock%}
